.food-element {
    width: 120px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.food-element img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.stock-positive,
.stock-zero {
    font-size: 0.85rem;
    font-weight: bold;
}

.stock-positive {
    color: green;
}

.stock-zero {
    color: red;
}

.food-emoji {
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.add-button {
    background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.food-element.dark {
    background-color: #3d3d3d;
    color: white
}